%flex.flex.flex-col.gap-3
  %h1.font-bold.text-4xl StaticPages#privacy_policy
  %p Find me in app/views/static_pages/privacy_policy.html.erb
  = link_to "Back to landing", root_path, class:"text-xs text-blue-600"
