- if !object.errors.nil? && object.errors.any?
    .banner.banner-danger
        %p
            %b  
                = pluralize(object.errors.count, "error") 
        %ul
            = object.errors.full_messages.each do |msg|
                %li
                    = msg
