= render "home/slider", slides: @sliders

.flex.flex-col.gap-4
    .flex.flex-col.py-40.border-b.border-r-amber-400.items-center.justify-center
        %h2 Latest Courses
        .relative.grid.grid-cols-3.gap-4.mt-10
            - @latest_courses.each do |latest_course|
                = render 'courses/course', course: latest_course
    .flex.flex-col.py-40.border-b.border-r-amber-400.items-center.justify-center
        %h2 Courses
        .relative.grid.grid-cols-3.gap-4.mt-10
            - @courses.each do |course|
                = render 'courses/course', course: course
