.container.flex.flex-col.gap-4
    .flex.flex-col.gap-4
        %h3 Users created per hour
        = line_chart User.group_by_hour(:created_at).count

    .flex.flex-col.gap-4
        %h3 Enrollments per day
        = line_chart Enrollment.group_by_day(:created_at).count
