- flash.any? && flash.each do |name, msg|
    - if msg.is_a?(String)
        %div{:class => "notice #{name.to_s == 'notice' ? 'notice-success':'notice-danger'}", :role => "alert"}
            %p 
                = msg
